<h2>Available Courses</h2>

<input
  type="text"
  [(ngModel)]="searchTerm"
  placeholder="Search course">

<button (click)="searchCourses()">
  Search
</button>

<br><br>
<button (click)="addDummyCourse()">
  Add Dummy Course
</button>

<br><br>

<div *ngIf="isLoading">
  <p>Loading courses...</p>
</div>

<div *ngIf="!isLoading">
  <div
  *ngFor="let c of courses; trackBy: trackByCourseId"
  (click)="viewCourse(c.id)"
  style="cursor:pointer; margin-bottom:15px;">

  <app-course-card
    [course]="c"
    [isEnrolled]="isEnrolled(c.id)"
    (enrollRequested)="onEnroll($event)"
    (unenrollRequested)="onUnenroll($event)">
  </app-course-card>

  </div>
</div>

<p *ngIf="selectedCourseId">
  Selected Course ID: {{ selectedCourseId }}
</p>