<h2>Course Enrollment Form</h2>
<p *ngIf="submitted" style="color: green; font-weight: bold;">
  Enrollment request submitted successfully!
</p>

<form #enrollForm="ngForm" (ngSubmit)="onSubmit(enrollForm)">

  <!-- Student Name -->
  <label>Student Name:</label><br>
  <input
    type="text"
    name="studentName"
    [(ngModel)]="studentName"
    #nameCtrl="ngModel"
    required
    minlength="3">

  <br>

  <span *ngIf="nameCtrl.touched && nameCtrl.errors?.['required']" style="color:red">
    Name is required
  </span>

  <span *ngIf="nameCtrl.touched && nameCtrl.errors?.['minlength']" style="color:red">
    Name must be at least 3 characters
  </span>

  <br><br>

  <!-- Email -->
  <label>Email:</label><br>
  <input
    type="email"
    name="studentEmail"
    [(ngModel)]="studentEmail"
    #emailCtrl="ngModel"
    required
    email>

  <br>

  <span *ngIf="emailCtrl.touched && emailCtrl.errors?.['required']" style="color:red">
    Email is required
  </span>

  <span *ngIf="emailCtrl.touched && emailCtrl.errors?.['email']" style="color:red">
    Enter a valid email
  </span>

  <br><br>

  <!-- Course ID -->
  <label>Course ID:</label><br>
  <input
    type="number"
    name="courseId"
    [(ngModel)]="courseId"
    #courseCtrl="ngModel"
    required>

  <br>

  <span *ngIf="courseCtrl.touched && courseCtrl.errors?.['required']" style="color:red">
    Course ID is required
  </span>

  <br><br>

  <!-- Preferred Semester -->
  <label>Preferred Semester:</label><br>

  <select
    name="preferredSemester"
    [(ngModel)]="preferredSemester"
    #semesterCtrl="ngModel"
    required>

    <option value="">Select</option>
    <option value="Odd">Odd</option>
    <option value="Even">Even</option>

  </select>

  <br>

  <span *ngIf="semesterCtrl.touched && semesterCtrl.errors?.['required']" style="color:red">
    Please select a semester
  </span>

  <br><br>

  <!-- Terms -->
  <label>
    <input
      type="checkbox"
      name="agreeToTerms"
      [(ngModel)]="agreeToTerms"
      #termsCtrl="ngModel"
      required>

    I agree to the Terms & Conditions
  </label>

  <br>

  <span *ngIf="termsCtrl.touched && termsCtrl.errors?.['required']" style="color:red">
    You must accept the Terms & Conditions
  </span>

  <br><br>

  <button type="submit" [disabled]="enrollForm.invalid">
    Submit
  </button>
  <button
  type="button"
  (click)="enrollForm.resetForm()">
  Reset
</button>

</form>